# **SQL Agent con LangChain**

Este notebook implementa un agente SQL que puede responder preguntas en lenguaje natural sobre los datos climÃ¡ticos almacenados en la base de datos ClimateDB.

## CaracterÃ­sticas:
- ğŸ¤– Agente SQL con GPT-4o-mini de OpenAI
- ğŸ“Š Base de datos SQL Server con mÃ¡s de 1M de registros climÃ¡ticos
- âš¡ Columnas temporales optimizadas (`year`, `month`, `day`, `hour`)
- ğŸ” Ãndices para consultas eficientes por perÃ­odo y municipio
- ğŸŒ 13 municipios de La Guajira, Colombia
- ğŸ“… Datos desde 2015 hasta 2025

---

In [47]:
# ======================================================
# Project : GuajiraClimateAgents
# Author  : Eder Arley LeÃ³n GÃ³mez
# GitHub  : https://github.com/ealeongomez
# License : MIT
# ======================================================

import sys, os
from pathlib import Path
from dotenv import load_dotenv
import pymssql
import pandas as pd

from langchain_community.utilities import SQLDatabase
from langchain_community.agent_toolkits import SQLDatabaseToolkit
from langchain_community.agent_toolkits import create_sql_agent
from langchain_openai import ChatOpenAI

# Cargar variables de entorno
PROJECT_ROOT = Path().resolve().parent
sys.path.insert(0, str(PROJECT_ROOT))
load_dotenv(PROJECT_ROOT / ".env")

print("âœ… Imports completados")

âœ… Imports completados

In [48]:
# ConfiguraciÃ³n de conexiÃ³n
DB_CONFIG = {
    'server': os.getenv('DB_SERVER', 'localhost'),
    'port': os.getenv('DB_PORT', '1433'),
    'user': os.getenv('DB_USER', 'sa'),
    'password': os.getenv('DB_PASSWORD', 'SQLServer.1234'),
    'database': os.getenv('DB_NAME', 'ClimateDB')
}

print("â„¹ï¸  Nota: La tabla climate_observations incluye columnas temporales:")
print("   â€¢ year, month, day, hour - ExtraÃ­das automÃ¡ticamente de datetime")
print("   â€¢ Estas columnas optimizan consultas con filtros temporales")

â„¹ï¸  Nota: La tabla climate_observations incluye columnas temporales:
   â€¢ year, month, day, hour - ExtraÃ­das automÃ¡ticamente de datetime
   â€¢ Estas columnas optimizan consultas con filtros temporales

In [49]:
# Verificar conexiÃ³n bÃ¡sica
try:
    conn = pymssql.connect(**DB_CONFIG)
    cursor = conn.cursor()
    cursor.execute("SELECT DB_NAME(), COUNT(*) FROM climate_observations")
    db_name, count = cursor.fetchone()
    print(f"âœ… Conectado a: {db_name}")
    print(f"   Total de registros: {count:,}")
    conn.close()
except Exception as e:
    print(f"âŒ Error de conexiÃ³n: {e}")

âœ… Conectado a: ClimateDB
   Total de registros: 1,139,112

In [50]:
# Crear URI de conexiÃ³n para SQLAlchemy
# Nota: pymssql es mÃ¡s simple que pyodbc (no necesita driver ODBC)
MSSQL_URI = (
    f"mssql+pymssql://{DB_CONFIG['user']}:{DB_CONFIG['password']}"
    f"@{DB_CONFIG['server']}:{DB_CONFIG['port']}/{DB_CONFIG['database']}"
)

# Crear objeto SQLDatabase de LangChain
db = SQLDatabase.from_uri(MSSQL_URI)

print("âœ… SQLDatabase creado")
print(f"   Dialect: {db.dialect}")
print(f"   Tables: {db.get_usable_table_names()}")

âœ… SQLDatabase creado
   Dialect: mssql
   Tables: ['climate_observations']

In [51]:
# Ver el schema de la tabla
print(db.get_table_info(['climate_observations']))

CREATE TABLE climate_observations (
	id BIGINT NOT NULL IDENTITY(1,1),
	municipio NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	datetime DATETIME2 NOT NULL,
	wind_speed_10m FLOAT(53) NULL,
	wind_direction_10m INTEGER NULL,
	temperature_2m FLOAT(53) NULL,
	relative_humidity_2m INTEGER NULL,
	precipitation FLOAT(53) NULL,
	created_at DATETIME2 NULL DEFAULT (getutcdate()),
	year AS ((datepart(year,[datetime]))) PERSISTED,
	month AS ((datepart(month,[datetime]))) PERSISTED,
	day AS ((datepart(day,[datetime]))) PERSISTED,
	hour AS ((datepart(hour,[datetime]))) PERSISTED,
	CONSTRAINT [PK__climate___3213E83FE7BE4ED9] PRIMARY KEY CLUSTERED (id)
)

/*
3 rows from climate_observations table:
id	municipio	datetime	wind_speed_10m	wind_direction_10m	temperature_2m	relative_humidity_2m	precipitation	created_at	year	month	day	hour
1	albania	2015-12-21 00:00:00	13.0	95	24.3	89	0.0	2025-12-23 16:40:00.290000	2015	12	21	0
2	albania	2015-12-21 01:00:00	13.7	95	24.2	89	0.0	2025-12-23 16:40:00.296666	2015	12	21	1
3	albania	2015-12-21 02:00:00	14.4	94	24.4	88	0.0	2025-12-23 16:40:00.310000	2015	12	21	2
*/

In [52]:
# Ejecutar una consulta SQL directa
query = """
    SELECT 
        municipio,
        COUNT(*) as total_registros,
        AVG(wind_speed_10m) as velocidad_promedio_viento,
        AVG(temperature_2m) as temperatura_promedio
    FROM climate_observations
    GROUP BY municipio
    ORDER BY velocidad_promedio_viento DESC
"""

result = db.run(query)
print("ğŸ“Š Resultado de consulta directa:\n")
print(result)

ğŸ“Š Resultado de consulta directa:

[('manaure', 87624, 17.6246941477221, 28.551881904501), ('uribia', 87624, 16.781839450378897, 28.74946589975343), ('riohacha', 87624, 15.53369510636356, 28.320914361362135), ('maicao', 87624, 15.34921254450833, 27.639090888341148), ('la_jagua_del_pilar', 87624, 14.688101433397234, 28.37402309869448), ('san_juan_del_cesar', 87624, 13.340719437596992, 28.06255706199215), ('distraccion', 87624, 13.237238656075961, 27.878197754039938), ('fonseca', 87624, 12.658547886423804, 28.009258878846097), ('el_molino', 87624, 12.437099424815129, 27.690288048936406), ('barrancas', 87624, 11.830404911896297, 27.8707956724185), ('albania', 87624, 9.339294029033159, 27.28953254816031), ('hatonuevo', 87624, 9.33636332511637, 26.887922258741863), ('mingueo', 87624, 8.296277275632269, 26.424275312699713)]

In [53]:
# Inicializar el modelo
llm = ChatOpenAI(
    model="gpt-4o-mini",  # Usa gpt-4o-mini para ser mÃ¡s econÃ³mico
    temperature=0,
    api_key=os.getenv("OPENAI_API_KEY")
)

print("âœ… Modelo LLM inicializado")
print(f"   Model: {llm.model_name}")

âœ… Modelo LLM inicializado
   Model: gpt-4o-mini

In [54]:
# Crear toolkit con las herramientas SQL
toolkit = SQLDatabaseToolkit(db=db, llm=llm)

# Ver las herramientas disponibles
tools = toolkit.get_tools()

print(f"ğŸ”§ Herramientas disponibles ({len(tools)}):\n")
for tool in tools:
    print(f"   â€¢ {tool.name}: {tool.description[:80]}...")

ğŸ”§ Herramientas disponibles (4):

   â€¢ sql_db_query: Input to this tool is a detailed and correct SQL query, output is a result from ...
   â€¢ sql_db_schema: Input to this tool is a comma-separated list of tables, output is the schema and...
   â€¢ sql_db_list_tables: Input is an empty string, output is a comma-separated list of tables in the data...
   â€¢ sql_db_query_checker: Use this tool to double check if your query is correct before executing it. Alwa...

In [55]:
# Crear el agente SQL
agent_executor = create_sql_agent(
    llm=llm,
    toolkit=toolkit, 
    verbose=True,
    agent_type="openai-tools", 
)

print("âœ… Agente SQL creado y listo para usar")

âœ… Agente SQL creado y listo para usar

In [56]:
# Ejemplo 1: Consulta simple
pregunta1 = "Â¿CuÃ¡l es la velocidad promedio del viento en Riohacha?"

print(f"ğŸ¤” Pregunta: {pregunta1}\n")
print("="*80)

respuesta1 = agent_executor.invoke({"input": pregunta1})

print("\n" + "="*80)
print(f"ğŸ’¡ Respuesta: {respuesta1['output']}")

ğŸ¤” Pregunta: Â¿CuÃ¡l es la velocidad promedio del viento en Riohacha?

================================================================================


> Entering new SQL Agent Executor chain...

Invoking: `sql_db_list_tables` with `{}`


climate_observations
Invoking: `sql_db_schema` with `{'table_names': 'climate_observations'}`



CREATE TABLE climate_observations (
	id BIGINT NOT NULL IDENTITY(1,1),
	municipio NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	datetime DATETIME2 NOT NULL,
	wind_speed_10m FLOAT(53) NULL,
	wind_direction_10m INTEGER NULL,
	temperature_2m FLOAT(53) NULL,
	relative_humidity_2m INTEGER NULL,
	precipitation FLOAT(53) NULL,
	created_at DATETIME2 NULL DEFAULT (getutcdate()),
	year AS ((datepart(year,[datetime]))) PERSISTED,
	month AS ((datepart(month,[datetime]))) PERSISTED,
	day AS ((datepart(day,[datetime]))) PERSISTED,
	hour AS ((datepart(hour,[datetime]))) PERSISTED,
	CONSTRAINT [PK__climate___3213E83FE7BE4ED9] PRIMARY KEY CLUSTERED (id)
)

/*
3 rows from climate_observations table:
id	municipio	datetime	wind_speed_10m	wind_direction_10m	temperature_2m	relative_humidity_2m	precipitation	created_at	year	month	day	hour
1	albania	2015-12-21 00:00:00	13.0	95	24.3	89	0.0	2025-12-23 16:40:00.290000	2015	12	21	0
2	albania	2015-12-21 01:00:00	13.7	95	24.2	89	0.0	2025-12-23 16:40:00.296666	2015	12	21	1
3	albania	2015-12-21 02:00:00	14.4	94	24.4	88	0.0	2025-12-23 16:40:00.310000	2015	12	21	2
*/
Invoking: `sql_db_query_checker` with `{'query': "SELECT AVG(wind_speed_10m) AS average_wind_speed FROM climate_observations WHERE municipio = 'Riohacha'"}`


```sql
SELECT AVG(wind_speed_10m) AS average_wind_speed FROM climate_observations WHERE municipio = 'Riohacha'
```
Invoking: `sql_db_query` with `{'query': "SELECT AVG(wind_speed_10m) AS average_wind_speed FROM climate_observations WHERE municipio = 'Riohacha'"}`


[(15.53369510636356,)]La velocidad promedio del viento en Riohacha es de aproximadamente 15.53 km/h.

> Finished chain.

================================================================================
ğŸ’¡ Respuesta: La velocidad promedio del viento en Riohacha es de aproximadamente 15.53 km/h.

In [57]:
# Ejemplo 2: ComparaciÃ³n
pregunta2 = "Compara la temperatura promedio entre Maicao, Uribia y Riohacha"

print(f"ğŸ¤” Pregunta: {pregunta2}\n")
print("="*80)

respuesta2 = agent_executor.invoke({"input": pregunta2})

print("\n" + "="*80)
print(f"ğŸ’¡ Respuesta: {respuesta2['output']}")

ğŸ¤” Pregunta: Compara la temperatura promedio entre Maicao, Uribia y Riohacha

================================================================================


> Entering new SQL Agent Executor chain...

Invoking: `sql_db_list_tables` with `{}`


climate_observations
Invoking: `sql_db_schema` with `{'table_names': 'climate_observations'}`



CREATE TABLE climate_observations (
	id BIGINT NOT NULL IDENTITY(1,1),
	municipio NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	datetime DATETIME2 NOT NULL,
	wind_speed_10m FLOAT(53) NULL,
	wind_direction_10m INTEGER NULL,
	temperature_2m FLOAT(53) NULL,
	relative_humidity_2m INTEGER NULL,
	precipitation FLOAT(53) NULL,
	created_at DATETIME2 NULL DEFAULT (getutcdate()),
	year AS ((datepart(year,[datetime]))) PERSISTED,
	month AS ((datepart(month,[datetime]))) PERSISTED,
	day AS ((datepart(day,[datetime]))) PERSISTED,
	hour AS ((datepart(hour,[datetime]))) PERSISTED,
	CONSTRAINT [PK__climate___3213E83FE7BE4ED9] PRIMARY KEY CLUSTERED (id)
)

/*
3 rows from climate_observations table:
id	municipio	datetime	wind_speed_10m	wind_direction_10m	temperature_2m	relative_humidity_2m	precipitation	created_at	year	month	day	hour
1	albania	2015-12-21 00:00:00	13.0	95	24.3	89	0.0	2025-12-23 16:40:00.290000	2015	12	21	0
2	albania	2015-12-21 01:00:00	13.7	95	24.2	89	0.0	2025-12-23 16:40:00.296666	2015	12	21	1
3	albania	2015-12-21 02:00:00	14.4	94	24.4	88	0.0	2025-12-23 16:40:00.310000	2015	12	21	2
*/
Invoking: `sql_db_query_checker` with `{'query': "SELECT municipio, AVG(temperature_2m) AS average_temperature FROM climate_observations WHERE municipio IN ('Maicao', 'Uribia', 'Riohacha') GROUP BY municipio ORDER BY average_temperature DESC;"}`


```sql
SELECT municipio, AVG(temperature_2m) AS average_temperature
FROM climate_observations
WHERE municipio IN ('Maicao', 'Uribia', 'Riohacha')
GROUP BY municipio
ORDER BY average_temperature DESC;
```
Invoking: `sql_db_query` with `{'query': "SELECT municipio, AVG(temperature_2m) AS average_temperature FROM climate_observations WHERE municipio IN ('Maicao', 'Uribia', 'Riohacha') GROUP BY municipio ORDER BY average_temperature DESC;"}`


[('uribia', 28.74946589975343), ('riohacha', 28.320914361362135), ('maicao', 27.639090888341148)]La temperatura promedio es la siguiente:

1. Uribia: 28.75 Â°C
2. Riohacha: 28.32 Â°C
3. Maicao: 27.64 Â°C

Uribia tiene la temperatura promedio mÃ¡s alta entre las tres localidades.

> Finished chain.

================================================================================
ğŸ’¡ Respuesta: La temperatura promedio es la siguiente:

1. Uribia: 28.75 Â°C
2. Riohacha: 28.32 Â°C
3. Maicao: 27.64 Â°C

Uribia tiene la temperatura promedio mÃ¡s alta entre las tres localidades.

In [58]:
# Ejemplo 3: Ranking
pregunta3 = "Â¿CuÃ¡les son los 5 municipios con mayor velocidad promedio del viento?"

print(f"ğŸ¤” Pregunta: {pregunta3}\n")
print("="*80)

respuesta3 = agent_executor.invoke({"input": pregunta3})

print("\n" + "="*80)
print(f"ğŸ’¡ Respuesta: {respuesta3['output']}")

ğŸ¤” Pregunta: Â¿CuÃ¡les son los 5 municipios con mayor velocidad promedio del viento?

================================================================================


> Entering new SQL Agent Executor chain...

Invoking: `sql_db_list_tables` with `{}`


climate_observations
Invoking: `sql_db_schema` with `{'table_names': 'climate_observations'}`



CREATE TABLE climate_observations (
	id BIGINT NOT NULL IDENTITY(1,1),
	municipio NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	datetime DATETIME2 NOT NULL,
	wind_speed_10m FLOAT(53) NULL,
	wind_direction_10m INTEGER NULL,
	temperature_2m FLOAT(53) NULL,
	relative_humidity_2m INTEGER NULL,
	precipitation FLOAT(53) NULL,
	created_at DATETIME2 NULL DEFAULT (getutcdate()),
	year AS ((datepart(year,[datetime]))) PERSISTED,
	month AS ((datepart(month,[datetime]))) PERSISTED,
	day AS ((datepart(day,[datetime]))) PERSISTED,
	hour AS ((datepart(hour,[datetime]))) PERSISTED,
	CONSTRAINT [PK__climate___3213E83FE7BE4ED9] PRIMARY KEY CLUSTERED (id)
)

/*
3 rows from climate_observations table:
id	municipio	datetime	wind_speed_10m	wind_direction_10m	temperature_2m	relative_humidity_2m	precipitation	created_at	year	month	day	hour
1	albania	2015-12-21 00:00:00	13.0	95	24.3	89	0.0	2025-12-23 16:40:00.290000	2015	12	21	0
2	albania	2015-12-21 01:00:00	13.7	95	24.2	89	0.0	2025-12-23 16:40:00.296666	2015	12	21	1
3	albania	2015-12-21 02:00:00	14.4	94	24.4	88	0.0	2025-12-23 16:40:00.310000	2015	12	21	2
*/
Invoking: `sql_db_query_checker` with `{'query': 'SELECT municipio, AVG(wind_speed_10m) AS avg_wind_speed FROM climate_observations GROUP BY municipio ORDER BY avg_wind_speed DESC LIMIT 5;'}`


```sql
SELECT municipio, AVG(wind_speed_10m) AS avg_wind_speed FROM climate_observations GROUP BY municipio ORDER BY avg_wind_speed DESC LIMIT 5;
```
Invoking: `sql_db_query_checker` with `{'query': 'SELECT TOP 5 municipio, AVG(wind_speed_10m) AS avg_wind_speed FROM climate_observations GROUP BY municipio ORDER BY avg_wind_speed DESC;'}`


```sql
SELECT TOP 5 municipio, AVG(wind_speed_10m) AS avg_wind_speed
FROM climate_observations
GROUP BY municipio
ORDER BY avg_wind_speed DESC;
```
Invoking: `sql_db_query` with `{'query': 'SELECT TOP 5 municipio, AVG(wind_speed_10m) AS avg_wind_speed FROM climate_observations GROUP BY municipio ORDER BY avg_wind_speed DESC;'}`


[('manaure', 17.624694147722057), ('uribia', 16.781839450378893), ('riohacha', 15.53369510636356), ('maicao', 15.34921254450833), ('la_jagua_del_pilar', 14.68810143339724)]Los 5 municipios con mayor velocidad promedio del viento son:

1. Manaure: 17.62 km/h
2. Uribia: 16.78 km/h
3. Riohacha: 15.53 km/h
4. Maicao: 15.35 km/h
5. La Jagua del Pilar: 14.69 km/h

> Finished chain.

================================================================================
ğŸ’¡ Respuesta: Los 5 municipios con mayor velocidad promedio del viento son:

1. Manaure: 17.62 km/h
2. Uribia: 16.78 km/h
3. Riohacha: 15.53 km/h
4. Maicao: 15.35 km/h
5. La Jagua del Pilar: 14.69 km/h

In [59]:
# Ejemplo 4: AnÃ¡lisis temporal
pregunta4 = "Â¿CuÃ¡l es el promedio de velocidad del viento en Uribia durante enero de 2025?"

print(f"ğŸ¤” Pregunta: {pregunta4}\n")
print("="*80)

respuesta4 = agent_executor.invoke({"input": pregunta4})

print("\n" + "="*80)
print(f"ğŸ’¡ Respuesta: {respuesta4['output']}")

ğŸ¤” Pregunta: Â¿CuÃ¡l es el promedio de velocidad del viento en Uribia durante enero de 2025?

================================================================================


> Entering new SQL Agent Executor chain...

Invoking: `sql_db_list_tables` with `{}`


climate_observations
Invoking: `sql_db_schema` with `{'table_names': 'climate_observations'}`



CREATE TABLE climate_observations (
	id BIGINT NOT NULL IDENTITY(1,1),
	municipio NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	datetime DATETIME2 NOT NULL,
	wind_speed_10m FLOAT(53) NULL,
	wind_direction_10m INTEGER NULL,
	temperature_2m FLOAT(53) NULL,
	relative_humidity_2m INTEGER NULL,
	precipitation FLOAT(53) NULL,
	created_at DATETIME2 NULL DEFAULT (getutcdate()),
	year AS ((datepart(year,[datetime]))) PERSISTED,
	month AS ((datepart(month,[datetime]))) PERSISTED,
	day AS ((datepart(day,[datetime]))) PERSISTED,
	hour AS ((datepart(hour,[datetime]))) PERSISTED,
	CONSTRAINT [PK__climate___3213E83FE7BE4ED9] PRIMARY KEY CLUSTERED (id)
)

/*
3 rows from climate_observations table:
id	municipio	datetime	wind_speed_10m	wind_direction_10m	temperature_2m	relative_humidity_2m	precipitation	created_at	year	month	day	hour
1	albania	2015-12-21 00:00:00	13.0	95	24.3	89	0.0	2025-12-23 16:40:00.290000	2015	12	21	0
2	albania	2015-12-21 01:00:00	13.7	95	24.2	89	0.0	2025-12-23 16:40:00.296666	2015	12	21	1
3	albania	2015-12-21 02:00:00	14.4	94	24.4	88	0.0	2025-12-23 16:40:00.310000	2015	12	21	2
*/
Invoking: `sql_db_query_checker` with `{'query': "SELECT AVG(wind_speed_10m) AS average_wind_speed FROM climate_observations WHERE municipio = 'Uribia' AND year = 2025 AND month = 1"}`


```sql
SELECT AVG(wind_speed_10m) AS average_wind_speed FROM climate_observations WHERE municipio = 'Uribia' AND year = 2025 AND month = 1
```
Invoking: `sql_db_query` with `{'query': "SELECT AVG(wind_speed_10m) AS average_wind_speed FROM climate_observations WHERE municipio = 'Uribia' AND year = 2025 AND month = 1"}`


[(17.28669354838709,)]El promedio de velocidad del viento en Uribia durante enero de 2025 es de aproximadamente 17.29 km/h.

> Finished chain.

================================================================================
ğŸ’¡ Respuesta: El promedio de velocidad del viento en Uribia durante enero de 2025 es de aproximadamente 17.29 km/h.

In [60]:
# Ejemplo 5: AnÃ¡lisis mÃ¡s complejo
pregunta5 = """
En quÃ© mes del 2024 hubo mayor velocidad de viento promedio 
en todos los municipios combinados?
"""

print(f"ğŸ¤” Pregunta: {pregunta5}\n")
print("="*80)

respuesta5 = agent_executor.invoke({"input": pregunta5})

print("\n" + "="*80)
print(f"ğŸ’¡ Respuesta: {respuesta5['output']}")

ğŸ¤” Pregunta:
En quÃ© mes del 2024 hubo mayor velocidad de viento promedio
en todos los municipios combinados?


================================================================================


> Entering new SQL Agent Executor chain...

Invoking: `sql_db_list_tables` with `{}`


climate_observations
Invoking: `sql_db_schema` with `{'table_names': 'climate_observations'}`



CREATE TABLE climate_observations (
	id BIGINT NOT NULL IDENTITY(1,1),
	municipio NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	datetime DATETIME2 NOT NULL,
	wind_speed_10m FLOAT(53) NULL,
	wind_direction_10m INTEGER NULL,
	temperature_2m FLOAT(53) NULL,
	relative_humidity_2m INTEGER NULL,
	precipitation FLOAT(53) NULL,
	created_at DATETIME2 NULL DEFAULT (getutcdate()),
	year AS ((datepart(year,[datetime]))) PERSISTED,
	month AS ((datepart(month,[datetime]))) PERSISTED,
	day AS ((datepart(day,[datetime]))) PERSISTED,
	hour AS ((datepart(hour,[datetime]))) PERSISTED,
	CONSTRAINT [PK__climate___3213E83FE7BE4ED9] PRIMARY KEY CLUSTERED (id)
)

/*
3 rows from climate_observations table:
id	municipio	datetime	wind_speed_10m	wind_direction_10m	temperature_2m	relative_humidity_2m	precipitation	created_at	year	month	day	hour
1	albania	2015-12-21 00:00:00	13.0	95	24.3	89	0.0	2025-12-23 16:40:00.290000	2015	12	21	0
2	albania	2015-12-21 01:00:00	13.7	95	24.2	89	0.0	2025-12-23 16:40:00.296666	2015	12	21	1
3	albania	2015-12-21 02:00:00	14.4	94	24.4	88	0.0	2025-12-23 16:40:00.310000	2015	12	21	2
*/
Invoking: `sql_db_query_checker` with `{'query': 'SELECT month, AVG(wind_speed_10m) AS avg_wind_speed \nFROM climate_observations \nWHERE year = 2024 \nGROUP BY month \nORDER BY avg_wind_speed DESC \nLIMIT 1;'}`


```sql
SELECT month, AVG(wind_speed_10m) AS avg_wind_speed
FROM climate_observations
WHERE year = 2024
GROUP BY month
ORDER BY avg_wind_speed DESC
LIMIT 1;
```
Invoking: `sql_db_query_checker` with `{'query': 'SELECT month, AVG(wind_speed_10m) AS avg_wind_speed \nFROM climate_observations \nWHERE year = 2024 \nGROUP BY month \nORDER BY avg_wind_speed DESC \nOFFSET 0 ROWS FETCH NEXT 1 ROWS ONLY;'}`


```sql
SELECT month, AVG(wind_speed_10m) AS avg_wind_speed
FROM climate_observations
WHERE year = 2024
GROUP BY month
ORDER BY avg_wind_speed DESC
OFFSET 0 ROWS FETCH NEXT 1 ROWS ONLY;
```
Invoking: `sql_db_query` with `{'query': 'SELECT month, AVG(wind_speed_10m) AS avg_wind_speed \nFROM climate_observations \nWHERE year = 2024 \nGROUP BY month \nORDER BY avg_wind_speed DESC \nOFFSET 0 ROWS FETCH NEXT 1 ROWS ONLY;'}`


[(1, 18.193641439205958)]El mes del 2024 con la mayor velocidad de viento promedio en todos los municipios combinados fue enero, con una velocidad promedio de 18.19 km/h.

> Finished chain.

================================================================================
ğŸ’¡ Respuesta: El mes del 2024 con la mayor velocidad de viento promedio en todos los municipios combinados fue enero, con una velocidad promedio de 18.19 km/h.

## **Ejemplos Adicionales - Aprovechando columnas temporales**

Las columnas `year`, `month`, `day` y `hour` permiten consultas mÃ¡s eficientes sin necesidad de usar funciones SQL como `YEAR()`, `MONTH()`, etc.

In [61]:
# Ejemplo 6: Consulta usando columnas temporales directamente
pregunta6 = """
Dame el promedio de temperatura para cada hora del dÃ­a (0-23) 
en el municipio de Riohacha durante el aÃ±o 2024.
Usa la columna hour que ya existe en la tabla.
"""

print(f"ğŸ¤” Pregunta: {pregunta6}\n")
print("="*80)

respuesta6 = agent_executor.invoke({"input": pregunta6})

print("\n" + "="*80)
print(f"ğŸ’¡ Respuesta: {respuesta6['output']}")

ğŸ¤” Pregunta:
Dame el promedio de temperatura para cada hora del dÃ­a (0-23)
en el municipio de Riohacha durante el aÃ±o 2024.
Usa la columna hour que ya existe en la tabla.


================================================================================


> Entering new SQL Agent Executor chain...

Invoking: `sql_db_list_tables` with `{}`


climate_observations
Invoking: `sql_db_schema` with `{'table_names': 'climate_observations'}`



CREATE TABLE climate_observations (
	id BIGINT NOT NULL IDENTITY(1,1),
	municipio NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	datetime DATETIME2 NOT NULL,
	wind_speed_10m FLOAT(53) NULL,
	wind_direction_10m INTEGER NULL,
	temperature_2m FLOAT(53) NULL,
	relative_humidity_2m INTEGER NULL,
	precipitation FLOAT(53) NULL,
	created_at DATETIME2 NULL DEFAULT (getutcdate()),
	year AS ((datepart(year,[datetime]))) PERSISTED,
	month AS ((datepart(month,[datetime]))) PERSISTED,
	day AS ((datepart(day,[datetime]))) PERSISTED,
	hour AS ((datepart(hour,[datetime]))) PERSISTED,
	CONSTRAINT [PK__climate___3213E83FE7BE4ED9] PRIMARY KEY CLUSTERED (id)
)

/*
3 rows from climate_observations table:
id	municipio	datetime	wind_speed_10m	wind_direction_10m	temperature_2m	relative_humidity_2m	precipitation	created_at	year	month	day	hour
1	albania	2015-12-21 00:00:00	13.0	95	24.3	89	0.0	2025-12-23 16:40:00.290000	2015	12	21	0
2	albania	2015-12-21 01:00:00	13.7	95	24.2	89	0.0	2025-12-23 16:40:00.296666	2015	12	21	1
3	albania	2015-12-21 02:00:00	14.4	94	24.4	88	0.0	2025-12-23 16:40:00.310000	2015	12	21	2
*/
Invoking: `sql_db_query_checker` with `{'query': "SELECT hour, AVG(temperature_2m) AS average_temperature \nFROM climate_observations \nWHERE municipio = 'Riohacha' AND year = 2024 \nGROUP BY hour \nORDER BY hour;"}`


```sql
SELECT hour, AVG(temperature_2m) AS average_temperature
FROM climate_observations
WHERE municipio = 'Riohacha' AND year = 2024
GROUP BY hour
ORDER BY hour;
```
Invoking: `sql_db_query` with `{'query': "SELECT hour, AVG(temperature_2m) AS average_temperature \nFROM climate_observations \nWHERE municipio = 'Riohacha' AND year = 2024 \nGROUP BY hour \nORDER BY hour;"}`


[(0, 26.274863387978158), (1, 25.949180327868845), (2, 25.657103825136616), (3, 25.43524590163935), (4, 25.272404371584702), (5, 25.145355191256836), (6, 25.18142076502733), (7, 26.441256830601112), (8, 28.433060109289613), (9, 30.11639344262296), (10, 31.45519125683058), (11, 32.35792349726775), (12, 32.73415300546449), (13, 32.712841530054654), (14, 32.43333333333334), (15, 31.950546448087415), (16, 31.202732240437147), (17, 30.178415300546437), (18, 29.039890710382505), (19, 28.319125683060133), (20, 28.130054644808745), (21, 27.63224043715847), (22, 27.156284153005437), (23, 26.68579234972675)]AquÃ­ tienes el promedio de temperatura para cada hora del dÃ­a (0-23) en el municipio de Riohacha durante el aÃ±o 2024:

| Hora | Promedio de Temperatura (Â°C) |
|------|-------------------------------|
| 0    | 26.27                         |
| 1    | 25.95                         |
| 2    | 25.66                         |
| 3    | 25.44                         |
| 4    | 25.27                         |
| 5    | 25.15                         |
| 6    | 25.18                         |
| 7    | 26.44                         |
| 8    | 28.43                         |
| 9    | 30.12                         |
| 10   | 31.46                         |
| 11   | 32.36                         |
| 12   | 32.73                         |
| 13   | 32.71                         |
| 14   | 32.43                         |
| 15   | 31.95                         |
| 16   | 31.20                         |
| 17   | 30.18                         |
| 18   | 29.04                         |
| 19   | 28.32                         |
| 20   | 28.13                         |
| 21   | 27.63                         |
| 22   | 27.16                         |
| 23   | 26.69                         |

> Finished chain.

================================================================================
ğŸ’¡ Respuesta: AquÃ­ tienes el promedio de temperatura para cada hora del dÃ­a (0-23) en el municipio de Riohacha durante el aÃ±o 2024:

| Hora | Promedio de Temperatura (Â°C) |
|------|-------------------------------|
| 0    | 26.27                         |
| 1    | 25.95                         |
| 2    | 25.66                         |
| 3    | 25.44                         |
| 4    | 25.27                         |
| 5    | 25.15                         |
| 6    | 25.18                         |
| 7    | 26.44                         |
| 8    | 28.43                         |
| 9    | 30.12                         |
| 10   | 31.46                         |
| 11   | 32.36                         |
| 12   | 32.73                         |
| 13   | 32.71                         |
| 14   | 32.43                         |
| 15   | 31.95                         |
| 16   | 31.20                         |
| 17   | 30.18                         |
| 18   | 29.04                         |
| 19   | 28.32                         |
| 20   | 28.13                         |
| 21   | 27.63                         |
| 22   | 27.16                         |
| 23   | 26.69                         |

In [62]:
# Ejemplo 7: AnÃ¡lisis por mes usando columna month
pregunta7 = """
Â¿En quÃ© mes (1-12) del 2024 se registrÃ³ la mayor precipitaciÃ³n total
en todos los municipios combinados? Usa la columna month.
"""

print(f"ğŸ¤” Pregunta: {pregunta7}\n")
print("="*80)

respuesta7 = agent_executor.invoke({"input": pregunta7})

print("\n" + "="*80)
print(f"ğŸ’¡ Respuesta: {respuesta7['output']}")

ğŸ¤” Pregunta:
Â¿En quÃ© mes (1-12) del 2024 se registrÃ³ la mayor precipitaciÃ³n total
en todos los municipios combinados? Usa la columna month.


================================================================================


> Entering new SQL Agent Executor chain...

Invoking: `sql_db_list_tables` with `{}`


climate_observations
Invoking: `sql_db_schema` with `{'table_names': 'climate_observations'}`



CREATE TABLE climate_observations (
	id BIGINT NOT NULL IDENTITY(1,1),
	municipio NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	datetime DATETIME2 NOT NULL,
	wind_speed_10m FLOAT(53) NULL,
	wind_direction_10m INTEGER NULL,
	temperature_2m FLOAT(53) NULL,
	relative_humidity_2m INTEGER NULL,
	precipitation FLOAT(53) NULL,
	created_at DATETIME2 NULL DEFAULT (getutcdate()),
	year AS ((datepart(year,[datetime]))) PERSISTED,
	month AS ((datepart(month,[datetime]))) PERSISTED,
	day AS ((datepart(day,[datetime]))) PERSISTED,
	hour AS ((datepart(hour,[datetime]))) PERSISTED,
	CONSTRAINT [PK__climate___3213E83FE7BE4ED9] PRIMARY KEY CLUSTERED (id)
)

/*
3 rows from climate_observations table:
id	municipio	datetime	wind_speed_10m	wind_direction_10m	temperature_2m	relative_humidity_2m	precipitation	created_at	year	month	day	hour
1	albania	2015-12-21 00:00:00	13.0	95	24.3	89	0.0	2025-12-23 16:40:00.290000	2015	12	21	0
2	albania	2015-12-21 01:00:00	13.7	95	24.2	89	0.0	2025-12-23 16:40:00.296666	2015	12	21	1
3	albania	2015-12-21 02:00:00	14.4	94	24.4	88	0.0	2025-12-23 16:40:00.310000	2015	12	21	2
*/
Invoking: `sql_db_query_checker` with `{'query': 'SELECT month, SUM(precipitation) AS total_precipitation \nFROM climate_observations \nWHERE year = 2024 \nGROUP BY month \nORDER BY total_precipitation DESC \nLIMIT 1;'}`


```sql
SELECT month, SUM(precipitation) AS total_precipitation
FROM climate_observations
WHERE year = 2024
GROUP BY month
ORDER BY total_precipitation DESC
LIMIT 1;
```
Invoking: `sql_db_query` with `{'query': 'SELECT month, SUM(precipitation) AS total_precipitation \nFROM climate_observations \nWHERE year = 2024 \nGROUP BY month \nORDER BY total_precipitation DESC \nOFFSET 0 ROWS FETCH NEXT 1 ROWS ONLY;'}`


[(11, 2636.200000000007)]En noviembre (mes 11) del 2024 se registrÃ³ la mayor precipitaciÃ³n total en todos los municipios combinados, con un total de 2636.2 mm.

> Finished chain.

================================================================================
ğŸ’¡ Respuesta: En noviembre (mes 11) del 2024 se registrÃ³ la mayor precipitaciÃ³n total en todos los municipios combinados, con un total de 2636.2 mm.

In [63]:
# Ejemplo 8: ComparaciÃ³n entre aÃ±os
pregunta8 = """
Compara el promedio de velocidad del viento en Manaure 
entre el aÃ±o 2023 y 2024. Usa la columna year.
"""

print(f"ğŸ¤” Pregunta: {pregunta8}\n")
print("="*80)

respuesta8 = agent_executor.invoke({"input": pregunta8})

print("\n" + "="*80)
print(f"ğŸ’¡ Respuesta: {respuesta8['output']}")

ğŸ¤” Pregunta:
Compara el promedio de velocidad del viento en Manaure
entre el aÃ±o 2023 y 2024. Usa la columna year.


================================================================================


> Entering new SQL Agent Executor chain...

Invoking: `sql_db_list_tables` with `{}`


climate_observations
Invoking: `sql_db_schema` with `{'table_names': 'climate_observations'}`



CREATE TABLE climate_observations (
	id BIGINT NOT NULL IDENTITY(1,1),
	municipio NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	datetime DATETIME2 NOT NULL,
	wind_speed_10m FLOAT(53) NULL,
	wind_direction_10m INTEGER NULL,
	temperature_2m FLOAT(53) NULL,
	relative_humidity_2m INTEGER NULL,
	precipitation FLOAT(53) NULL,
	created_at DATETIME2 NULL DEFAULT (getutcdate()),
	year AS ((datepart(year,[datetime]))) PERSISTED,
	month AS ((datepart(month,[datetime]))) PERSISTED,
	day AS ((datepart(day,[datetime]))) PERSISTED,
	hour AS ((datepart(hour,[datetime]))) PERSISTED,
	CONSTRAINT [PK__climate___3213E83FE7BE4ED9] PRIMARY KEY CLUSTERED (id)
)

/*
3 rows from climate_observations table:
id	municipio	datetime	wind_speed_10m	wind_direction_10m	temperature_2m	relative_humidity_2m	precipitation	created_at	year	month	day	hour
1	albania	2015-12-21 00:00:00	13.0	95	24.3	89	0.0	2025-12-23 16:40:00.290000	2015	12	21	0
2	albania	2015-12-21 01:00:00	13.7	95	24.2	89	0.0	2025-12-23 16:40:00.296666	2015	12	21	1
3	albania	2015-12-21 02:00:00	14.4	94	24.4	88	0.0	2025-12-23 16:40:00.310000	2015	12	21	2
*/
Invoking: `sql_db_query_checker` with `{'query': "SELECT year, AVG(wind_speed_10m) AS average_wind_speed FROM climate_observations WHERE municipio = 'Manaure' AND year IN (2023, 2024) GROUP BY year"}`


```sql
SELECT year, AVG(wind_speed_10m) AS average_wind_speed
FROM climate_observations
WHERE municipio = 'Manaure' AND year IN (2023, 2024)
GROUP BY year
```
Invoking: `sql_db_query` with `{'query': "SELECT year, AVG(wind_speed_10m) AS average_wind_speed FROM climate_observations WHERE municipio = 'Manaure' AND year IN (2023, 2024) GROUP BY year"}`


[(2023, 17.064121004566235), (2024, 15.796345628415311)]El promedio de velocidad del viento en Manaure es de aproximadamente 17.06 m/s en 2023 y de 15.80 m/s en 2024.

> Finished chain.

================================================================================
ğŸ’¡ Respuesta: El promedio de velocidad del viento en Manaure es de aproximadamente 17.06 m/s en 2023 y de 15.80 m/s en 2024.

In [64]:
conn.close()
print("\nğŸ‘‹ ConexiÃ³n cerrada")
print("\n" + "="*80)
print("âœ… Notebook completado exitosamente")
print("="*80)

ğŸ‘‹ ConexiÃ³n cerrada

================================================================================
âœ… Notebook completado exitosamente
================================================================================

In [65]:
def consultar_clima(pregunta: str, verbose: bool = False) -> str:
    """Helper function para hacer consultas rÃ¡pidas.
    
    Args:
        pregunta: Pregunta en lenguaje natural.
        verbose: Si mostrar el proceso de razonamiento.
    
    Returns:
        Respuesta del agente.
    """
    # Crear agente con o sin verbose
    agent = create_sql_agent(
        llm=llm,
        toolkit=toolkit, 
        verbose=True,
        agent_type="openai-tools"
        )
    
    resultado = agent.invoke({"input": pregunta})
    return resultado['output']

# Probar la funciÃ³n
print("ğŸ§ª Probando funciÃ³n helper:\n")
respuesta = consultar_clima(
    "Â¿CuÃ¡l es la temperatura mÃ¡xima registrada en toda la base de datos?",
    verbose=False
)
print(f"ğŸ’¡ {respuesta}")

ğŸ§ª Probando funciÃ³n helper:



> Entering new SQL Agent Executor chain...

Invoking: `sql_db_list_tables` with `{}`


climate_observations
Invoking: `sql_db_schema` with `{'table_names': 'climate_observations'}`



CREATE TABLE climate_observations (
	id BIGINT NOT NULL IDENTITY(1,1),
	municipio NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	datetime DATETIME2 NOT NULL,
	wind_speed_10m FLOAT(53) NULL,
	wind_direction_10m INTEGER NULL,
	temperature_2m FLOAT(53) NULL,
	relative_humidity_2m INTEGER NULL,
	precipitation FLOAT(53) NULL,
	created_at DATETIME2 NULL DEFAULT (getutcdate()),
	year AS ((datepart(year,[datetime]))) PERSISTED,
	month AS ((datepart(month,[datetime]))) PERSISTED,
	day AS ((datepart(day,[datetime]))) PERSISTED,
	hour AS ((datepart(hour,[datetime]))) PERSISTED,
	CONSTRAINT [PK__climate___3213E83FE7BE4ED9] PRIMARY KEY CLUSTERED (id)
)

/*
3 rows from climate_observations table:
id	municipio	datetime	wind_speed_10m	wind_direction_10m	temperature_2m	relative_humidity_2m	precipitation	created_at	year	month	day	hour
1	albania	2015-12-21 00:00:00	13.0	95	24.3	89	0.0	2025-12-23 16:40:00.290000	2015	12	21	0
2	albania	2015-12-21 01:00:00	13.7	95	24.2	89	0.0	2025-12-23 16:40:00.296666	2015	12	21	1
3	albania	2015-12-21 02:00:00	14.4	94	24.4	88	0.0	2025-12-23 16:40:00.310000	2015	12	21	2
*/
Invoking: `sql_db_query_checker` with `{'query': 'SELECT MAX(temperature_2m) AS max_temperature FROM climate_observations'}`


```sql
SELECT MAX(temperature_2m) AS max_temperature FROM climate_observations
```
Invoking: `sql_db_query` with `{'query': 'SELECT MAX(temperature_2m) AS max_temperature FROM climate_observations'}`


[(40.5,)]La temperatura mÃ¡xima registrada en toda la base de datos es de 40.5 grados.

> Finished chain.
ğŸ’¡ La temperatura mÃ¡xima registrada en toda la base de datos es de 40.5 grados.

In [66]:
# Ejecutar mÃºltiples consultas
preguntas = [
    "Â¿CuÃ¡ntos municipios hay en la base de datos?",
    "Â¿CuÃ¡l es el rango de fechas disponible?",
    "Â¿Hay datos faltantes (NULL) en wind_speed_10m?",
]

print("ğŸ“‹ Ejecutando mÃºltiples consultas:\n")
print("="*80)

for i, pregunta in enumerate(preguntas, 1):
    print(f"\n{i}. {pregunta}")
    respuesta = consultar_clima(pregunta, verbose=False)
    print(f"   ğŸ’¡ {respuesta}")
    print("-"*80)

ğŸ“‹ Ejecutando mÃºltiples consultas:

================================================================================

1. Â¿CuÃ¡ntos municipios hay en la base de datos?


> Entering new SQL Agent Executor chain...

Invoking: `sql_db_list_tables` with `{}`


climate_observations
Invoking: `sql_db_schema` with `{'table_names': 'climate_observations'}`



CREATE TABLE climate_observations (
	id BIGINT NOT NULL IDENTITY(1,1),
	municipio NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	datetime DATETIME2 NOT NULL,
	wind_speed_10m FLOAT(53) NULL,
	wind_direction_10m INTEGER NULL,
	temperature_2m FLOAT(53) NULL,
	relative_humidity_2m INTEGER NULL,
	precipitation FLOAT(53) NULL,
	created_at DATETIME2 NULL DEFAULT (getutcdate()),
	year AS ((datepart(year,[datetime]))) PERSISTED,
	month AS ((datepart(month,[datetime]))) PERSISTED,
	day AS ((datepart(day,[datetime]))) PERSISTED,
	hour AS ((datepart(hour,[datetime]))) PERSISTED,
	CONSTRAINT [PK__climate___3213E83FE7BE4ED9] PRIMARY KEY CLUSTERED (id)
)

/*
3 rows from climate_observations table:
id	municipio	datetime	wind_speed_10m	wind_direction_10m	temperature_2m	relative_humidity_2m	precipitation	created_at	year	month	day	hour
1	albania	2015-12-21 00:00:00	13.0	95	24.3	89	0.0	2025-12-23 16:40:00.290000	2015	12	21	0
2	albania	2015-12-21 01:00:00	13.7	95	24.2	89	0.0	2025-12-23 16:40:00.296666	2015	12	21	1
3	albania	2015-12-21 02:00:00	14.4	94	24.4	88	0.0	2025-12-23 16:40:00.310000	2015	12	21	2
*/
Invoking: `sql_db_query_checker` with `{'query': 'SELECT COUNT(DISTINCT municipio) AS total_municipios FROM climate_observations'}`


```sql
SELECT COUNT(DISTINCT municipio) AS total_municipios FROM climate_observations
```
Invoking: `sql_db_query` with `{'query': 'SELECT COUNT(DISTINCT municipio) AS total_municipios FROM climate_observations'}`


[(13,)]Hay un total de 13 municipios en la base de datos.

> Finished chain.
   ğŸ’¡ Hay un total de 13 municipios en la base de datos.
--------------------------------------------------------------------------------

2. Â¿CuÃ¡l es el rango de fechas disponible?


> Entering new SQL Agent Executor chain...

Invoking: `sql_db_list_tables` with `{}`


climate_observations
Invoking: `sql_db_schema` with `{'table_names': 'climate_observations'}`



CREATE TABLE climate_observations (
	id BIGINT NOT NULL IDENTITY(1,1),
	municipio NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	datetime DATETIME2 NOT NULL,
	wind_speed_10m FLOAT(53) NULL,
	wind_direction_10m INTEGER NULL,
	temperature_2m FLOAT(53) NULL,
	relative_humidity_2m INTEGER NULL,
	precipitation FLOAT(53) NULL,
	created_at DATETIME2 NULL DEFAULT (getutcdate()),
	year AS ((datepart(year,[datetime]))) PERSISTED,
	month AS ((datepart(month,[datetime]))) PERSISTED,
	day AS ((datepart(day,[datetime]))) PERSISTED,
	hour AS ((datepart(hour,[datetime]))) PERSISTED,
	CONSTRAINT [PK__climate___3213E83FE7BE4ED9] PRIMARY KEY CLUSTERED (id)
)

/*
3 rows from climate_observations table:
id	municipio	datetime	wind_speed_10m	wind_direction_10m	temperature_2m	relative_humidity_2m	precipitation	created_at	year	month	day	hour
1	albania	2015-12-21 00:00:00	13.0	95	24.3	89	0.0	2025-12-23 16:40:00.290000	2015	12	21	0
2	albania	2015-12-21 01:00:00	13.7	95	24.2	89	0.0	2025-12-23 16:40:00.296666	2015	12	21	1
3	albania	2015-12-21 02:00:00	14.4	94	24.4	88	0.0	2025-12-23 16:40:00.310000	2015	12	21	2
*/
Invoking: `sql_db_query_checker` with `{'query': 'SELECT MIN(datetime) AS start_date, MAX(datetime) AS end_date FROM climate_observations'}`


```sql
SELECT MIN(datetime) AS start_date, MAX(datetime) AS end_date FROM climate_observations
```
Invoking: `sql_db_query` with `{'query': 'SELECT MIN(datetime) AS start_date, MAX(datetime) AS end_date FROM climate_observations'}`


[(datetime.datetime(2015, 12, 21, 0, 0), datetime.datetime(2025, 12, 18, 23, 0))]El rango de fechas disponible en la base de datos es desde el 21 de diciembre de 2015 hasta el 18 de diciembre de 2025.

> Finished chain.
   ğŸ’¡ El rango de fechas disponible en la base de datos es desde el 21 de diciembre de 2015 hasta el 18 de diciembre de 2025.
--------------------------------------------------------------------------------

3. Â¿Hay datos faltantes (NULL) en wind_speed_10m?


> Entering new SQL Agent Executor chain...

Invoking: `sql_db_list_tables` with `{}`


climate_observations
Invoking: `sql_db_schema` with `{'table_names': 'climate_observations'}`



CREATE TABLE climate_observations (
	id BIGINT NOT NULL IDENTITY(1,1),
	municipio NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	datetime DATETIME2 NOT NULL,
	wind_speed_10m FLOAT(53) NULL,
	wind_direction_10m INTEGER NULL,
	temperature_2m FLOAT(53) NULL,
	relative_humidity_2m INTEGER NULL,
	precipitation FLOAT(53) NULL,
	created_at DATETIME2 NULL DEFAULT (getutcdate()),
	year AS ((datepart(year,[datetime]))) PERSISTED,
	month AS ((datepart(month,[datetime]))) PERSISTED,
	day AS ((datepart(day,[datetime]))) PERSISTED,
	hour AS ((datepart(hour,[datetime]))) PERSISTED,
	CONSTRAINT [PK__climate___3213E83FE7BE4ED9] PRIMARY KEY CLUSTERED (id)
)

/*
3 rows from climate_observations table:
id	municipio	datetime	wind_speed_10m	wind_direction_10m	temperature_2m	relative_humidity_2m	precipitation	created_at	year	month	day	hour
1	albania	2015-12-21 00:00:00	13.0	95	24.3	89	0.0	2025-12-23 16:40:00.290000	2015	12	21	0
2	albania	2015-12-21 01:00:00	13.7	95	24.2	89	0.0	2025-12-23 16:40:00.296666	2015	12	21	1
3	albania	2015-12-21 02:00:00	14.4	94	24.4	88	0.0	2025-12-23 16:40:00.310000	2015	12	21	2
*/
Invoking: `sql_db_query_checker` with `{'query': 'SELECT COUNT(*) AS null_count FROM climate_observations WHERE wind_speed_10m IS NULL;'}`


```sql
SELECT COUNT(*) AS null_count FROM climate_observations WHERE wind_speed_10m IS NULL;
```
Invoking: `sql_db_query` with `{'query': 'SELECT COUNT(*) AS null_count FROM climate_observations WHERE wind_speed_10m IS NULL;'}`


[(0,)]No hay datos faltantes (NULL) en la columna `wind_speed_10m`.

> Finished chain.
   ğŸ’¡ No hay datos faltantes (NULL) en la columna `wind_speed_10m`.
--------------------------------------------------------------------------------